In [7]:
numbers = [1,2,3,4,5,6,7,8,9]
print(numbers[-5])
print(numbers[:5])
print(numbers[4:])
print(numbers[::-1])
print(numbers[::3])

5
[1, 2, 3, 4, 5]
[5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 4, 7]

In [13]:
## Iterating over a list by index

for idx,num in enumerate(numbers):
  print(idx,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [16]:
lst =[]
for i in range(10):
  lst.append(i**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
[x*2 for x in range(20)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [4]:
#nested list comprehension

list1= [1,2,3,4,5]
list2= ['a','ed','r','j','p']

list3 = [[i,j] for i in list1 for j in list2]
print(list3)

[[1, 'a'], [1, 'ed'], [1, 'r'], [1, 'j'], [1, 'p'], [2, 'a'], [2, 'ed'], [2, 'r'], [2, 'j'], [2, 'p'], [3, 'a'], [3, 'ed'], [3, 'r'], [3, 'j'], [3, 'p'], [4, 'a'], [4, 'ed'], [4, 'r'], [4, 'j'], [4, 'p'], [5, 'a'], [5, 'ed'], [5, 'r'], [5, 'j'], [5, 'p']]

In [4]:
list1= [1,2,3,4,5]
list1 *3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

Tuples

In [7]:
tuple1 = (1,2,3,4,5)
tuple2 = ('a','ed','r','j','p')
tuple4 = tuple1+tuple2
print(tuple4)
tuple3 = ((i,j) for i in tuple1 for j in tuple2)
print(tuple3)

(1, 2, 3, 4, 5, 'a', 'ed', 'r', 'j', 'p')
<generator object <genexpr> at 0x00000196F613D5B0>

In [11]:

#packing , unpacking
tuple1 =34,"gg",45,"rb"
a,b,c ,d= tuple1
print(a,b,c)

34 gg 45

In [13]:
tul = tuple(range(11))
print(tul)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
#create set
set1 = {1,2,3,4,5}
print(type(set1))
tup = tuple(set1)
print(type(tup))

<class 'set'>
<class 'tuple'>

In [8]:
set2 = set([2,3,4,3,5,6])
set1= set([3,4,10,23,5])

print(set2.union(set1))
print(set2.intersection(set1))

{2, 3, 4, 5, 6, 10, 23}
{3, 4, 5}

In [ ]:
Dictionary

In [9]:
dic = {'name':'John','age':25,'city':'New York'}
print(dic['name'])

John

In [10]:
for k, v in dic.items():
  print(k,v)

name John
age 25
city New York

In [11]:
d1 = {i: i**2 for i in range(1, 6)}
d2 = {i: i**2 for i in range(6, 11)}
d1.update(d2)
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}