Conditional Statements

In [4]:
age = int(input('Enter age'))

if age<=18:
  print( age ,'you are minor')

else:
  print(age ,'not minor')

23 not minor

In [7]:
year =int(input('enter year'))

if year%4==0:
  if year %100 ==0:
    if year %400 ==0:
      print(year , 'is a leap year')
    else:
      print(year , 'is not a leap year')
  else:
      print(year ,'is a leap year')
else:
  print(year , 'is not a leap year')

2026 is not a leap year

In [9]:
#calculator

num1= float(input('enter first number'))
num2= float(input('enter second number'))

operation = input('Ente roperation (+, - ,*,/) : ')

if operation =='+':
  result = num1+num2
elif operation =='-':
  result = num1-num2
elif operation =='*':
  result = num1*num2
elif operation=='/':
  result = num1 /num2
else:
  print('Invalid operator')

print('Result is:', result)
print("num1 =", num1 , "num2 =", num2)

Result is: 79.71000000000001
num1 = 34.06 num2 = 45.65

In [12]:
#determine ticket price based on age and student satus

age =int(input('enter age : '))

if(age >=18):
   student_status =input("Are u a student? (yes/no): ").lower()

#determine ticket
if age <5:
  price ="Free"

elif age<=12 :
  price="$10"

elif age<=18:
  price ='$12'

elif age>18:
  if student_status =='yes':
    price ="$12"
  else:
    price ='$15'

elif age>21:
  if student_status =='yes':
    price ='$15'
  else:
    price ='$20'
else:
  price ='$20'

print(age, "is the age and ticket price is", price)

23 is the age and ticket price is $12

Loops

In [16]:
range(2)

range(0, 2)

In [17]:
for i in range(2,11,2):
  print(i,end=' ')

2 4 6 8 10

In [19]:
count =0
 
while count<10:
  print(count)
  count+=3

0
3
6
9

In [ ]:
for i in range(0,20):
  if i==10: 
    break                #break the loop when i is 10
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
for i in range(20):
  if i%2==0:
    continue          #skip current iteration and print next
  print(i, end=' ')

1 3 5 7 9 11 13 15 17 19

In [ ]:
for i in range(20):
  if i%2==0:
    pass           #it does nothing
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [31]:
#calculate the usm of first n natural numbers using while loop

n = int(input('Enter a number: '))
sum =0

while n>0:
  sum +=n
  n-=1

print('Sum of first n natural numbers is:', sum)

Sum of first n natural numbers is: 55

In [33]:
#prime numbers
for i in range(1,100):
  if i>1:
    for j in range(2,i):
      if i%j ==0:
        break
    else:
      print(i, end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97